 .boxes{
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(3, 1fr);
    font-size: 30px;
    justify-content: center;
   
 }
 .box{
    border: 2px solid black;
    display: grid;
    place-content: center;

 }
@media(max-width : 600px){
    .boxes{
            grid-template-columns: 1fr;
    }
}
